* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
nav {
    font-weight: 900;
    display: flex;
    font-size: 20px;
    background-color: pink;
    padding: 23px 0;
    align-items: center;
}
nav li a {
    text-decoration: none;
    color: black;
    transition: all;
    transition-duration: 500ms;
}
nav li a:hover {
    text-decoration: none;
    color: purple;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 23px;
    font-size: 24px;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 0 23px;
}
.container {
    min-height: 100vh;
    max-width: 80vw;
    margin: auto;
}
.container h1, h2 {
    margin: 23px 0;
}
.container form {
    display: flex;
    flex-direction: column;
}
.container form input[type="number"], select, label {
    font-size: 25px;
    margin-bottom: 12px;
    width: 23vw;
}
footer {
    text-align: center;
}
.btn {
    width: 144px;
    padding: 5px 8px;
    font-size: 20px;
    background: lightpink;
    color: black;
    border-radius: 13px;
    cursor: pointer;
}
.output table {
    width: 50vw;
    text-align: center;
    border: 2px solid black;
    font-size: 20px;
}
.output table th {
    padding: 23px;
}
.output {
    display: none;
}
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        font-size: 14px;
    }
    nav ul {
        justify-content: center;
    }
    nav ul li {
        margin: 5px 13px;
    }
    .container {
        max-width: 95vw;
    }
    .container form input[type="number"], select, label {
        width: 80vw;
    }
}
