body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkblue;
    color: white;
    font-family: cursive;
}
.container {
    display: flex;
    text-align: center;
}
.mouse-event {
    border: solid 1px lightgray;
    margin: 40px;
    min-width: 180px;
    font-size: 30px;
    position: relative;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mouse-event h4 {
    position: absolute;
    top: -50%;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-weight: 100;
    color: lightgray;
}
